
@{
    ViewBag.Title = "Thankyou";

}
@*<style>
    #logo {
        height: 100px;
        width: 120px;
    }
</style>*@

<div class="row">
    <table>
        <tr>
            <td>
                <img class="img-fluid" id="logo" src="~/Content/ratingsystemtemplate/EpsaNew.jpg" /><br /><br /><br />
            </td>
            <td>
                <div class="col-md-12 text-center">

                    <img class="img-fluid" src="~/Content/ratingsystemtemplate/thankyou.png" /><br />
                </div>
</div>
<div class="row text-center">
    <h1>Thankyou for your feedback</h1>
    </td>
    </tr>
    </table>


    <br /><br />


</div>
<div class="row">
    <span>Redirecting to main page.</span>

</div>
<script>
   $(document).ready(function() {
    setTimeout(function() {
        // Redirect to the new page
        window.location.href = '@Url.Action("Index","Home")';
    }, 2000); // 2000 milliseconds = 2 seconds
});

</script>
