
@{
    ViewBag.Title = "Thankyou";

}
<style>
    #logo {
        width: 300px;
    }
    .img-fluid {
        max-width: 150%;
        height: auto;
    }
</style>

<div class="row">
    <div class="col-6">
        <img class="img-fluid" id="logo" src="~/Content/ratingsystemtemplate/EpsaNew.jpg" />

    </div>
    <div class="col-6">
        <img class="img-fluid" src="~/Content/ratingsystemtemplate/thankyou.png" />
    </div>
  

</div>
<div class="row">
    <div class="col-3">

    </div>
    <div class="col-6">
        <h1 style="white-space:nowrap;">Thankyou for your feedback</h1>
        <img class="img-fluid" src="~/Content/ratingsystemtemplate/OPT 1 All Values.png" />

    </div>
</div>



<script>
   $(document).ready(function() {
       redirectAfterDelay();
});

    function redirectAfterDelay() {
        document.addEventListener('click', function () {
            setTimeout(function () {
                window.location.href = '@Url.Action("Index","Home")';
            }, 2000);
        });
    }

</script>
